<a href="https://colab.research.google.com/github/Rohit2303A510J0/23CSBTB28/blob/main/types_of_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1 - Implement Basic Data Structures using Numpy, Pandas

In [26]:
# Types of list
list_example = [1, "Hello", [1, 2], 4.5, 5, {"name": "Rohit", "age": 18}]
print(list_example)
print(list_example[2])
print(type(list_example))

[1, 'Hello', [1, 2], 4.5, 5, {'name': 'Rohit', 'age': 18}]
[1, 2]
<class 'list'>

In [27]:
dict_example = {'name': 'Rohit', 'occupation': 'student', 'age': 18}
print(dict_example)
print(type(dict_example))

{'name': 'Rohit', 'occupation': 'student', 'age': 18}
<class 'dict'>

In [28]:
set_example = {1, 2, 3, 4, 5}
print(set_example)
print(type(set_example))

{1, 2, 3, 4, 5}
<class 'set'>

In [29]:
tuple_example = (1, 2, 3, 4, 5)
print(tuple_example)
print(type(tuple_example))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [30]:
string_example = "Hello World!"
print(string_example)
print(type(string_example))

Hello World!
<class 'str'>