<a href="https://colab.research.google.com/github/Rohit2303A510J0/23CSBTB28/blob/main/ASSIGNMENT_1/a1_p3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Access Data from Various Data Sources using built in function of Numpy, Pandas

In [ ]:
import pandas as pd

In [ ]:
# Reading excel file
df = pd.read_excel("https://docs.google.com/spreadsheets/d/1V22RRsCH_C9nAdMDkSaUs0xc7p2_pBpjblDj8UnWYog/export?format=xlsx")
print(df)

  PEOPLE  AGE  HEIGHT  WEIGHT
0  KIRAN   25     145      45
1   ARUN   30     151      55
2  VIJAY   35     165      65
3  VARUN   40     173      75

In [ ]:
# Reading csv file
df = pd.read_csv("https://drive.google.com/uc?id=16FX71g1uBCSmh9hpNc7ddmsACCcIy2Pz")
print(df)

  PEOPLE  AGE  HEIGHT  WEIGHT
0  KIRAN   25     145      45
1   ARUN   30     151      55
2  VIJAY   35     165      65
3  VARUN   40     173      75

In [ ]:
# Reading tsv file
df = pd.read_csv("https://drive.google.com/uc?id=1XnIc7aK7ROwJFzY_9qGtZR27RmpLsr5i", delimiter='\t')
print(df)

  PEOPLE  AGE  HEIGHT  WEIGHT
0  KIRAN   25     145      45
1   ARUN   30     151      55
2  VIJAY   35     165      65
3  VARUN   40     173      75